In [3]:
print("Hello Students!")
#hello world is the first statement for all programmers

Hello Students!

In [6]:
x=2
y=x+5+3
y

10

In [ ]:
x=5

In [ ]:
y=6

In [ ]:
z=3

In [1]:
#learning how to code python

In [3]:
print("After Edit ,Save")

After Edit ,Save

In [1]:
'A B C 1 2 3,/ * @ # &'

'A B C 1 2 3,/ * @ # &'

In [2]:
#USING SINGLE QUOTES

In [4]:
print("String go in single")
print("or in double quotes")

String go in single
or in double quotes

In [7]:
#using quotes that dont match
"Hello Python!"

'Hello Python!'

In [8]:
print("I want to be the best programmer")
print ('around the universe')

I want to be the best programmer
around the universe

In [10]:
#String echo
"-123"

'-123'

In [12]:
#integer echo
-123

-123

In [13]:
#digit string print
print("2017")

2017

In [16]:
#interger print
print(-2017)#The difference is the quotes ~the  interger print doesnt have the quotes unlike the string print

-2017

In [17]:
#TASK 1~Printing intergers
print(2019)

2019

In [19]:
#TASK 2 ~Printing String made of Integers
print("2019a")

2019a

In [1]:
#variable Assignment
student_name = "Gloria Mutungi"#we have assigned storage location(student_name) to a string Gloria mutungi

In [2]:
#variable echo
student_name

'Gloria Mutungi'

In [3]:
#literal string print
print ("Gloria Mutungi")

Gloria Mutungi

In [4]:
#Variable String print
print(student_name)

Gloria Mutungi

In [6]:
#variable reassignment
print(student_name)
student_name = "Njeri Waithaka"
print(student_name)

Gloria Mutungi
Njeri Waithaka

In [7]:
student_name

'Njeri Waithaka'

In [8]:
student_name

'Njeri Waithaka'

In [9]:
#initialising the variable
current message = "I am a string"

SyntaxError: invalid syntax (<ipython-input-9-7514c30bbd96>, line 2)

In [13]:
#initialising the variable
current message = "I am a string"

SyntaxError: invalid syntax (<ipython-input-13-7514c30bbd96>, line 2)

In [14]:
#printing literal String
print("I am a String")

I am a String

In [15]:
#printing String Variable
print(current message)

SyntaxError: invalid syntax (<ipython-input-15-7867f660b397>, line 2)

In [16]:
#initialising the variable
current_message = "I am a String"

In [17]:
#Printing Literal String
print("I am a String")

I am a String

In [19]:
#printing String variable
print(current_message)
current_message = "Re run this message"

Re run this message

In [20]:
print(current_message)

Re run this message

In [21]:
#TASK
Assigning new String to current message
current_message = "I am not joking this time"

SyntaxError: invalid syntax (<ipython-input-21-c53b239ff1c6>, line 2)

In [ ]:
#TAKSK
#Assigning new String to current message
current_message = "I am going to make it "

In [22]:
print(current_message)

Re run this message

In [23]:
#String Variable
student = "Gloria Mutungi"
student

'Gloria Mutungi'

In [24]:
#changed to Interger Variable
student = 12345
student

12345

In [25]:
#back to String
student = "DIAZ-J12345"

In [26]:
print(student)

DIAZ-J12345

In [27]:
#Example
name ="Joseph"
print(name)

Joseph

In [28]:
test_value=22
print(test_value)
test_value = "Joseph"
print(test_value)

22
Joseph

In [30]:
#TASK 4
student_name = "Mary Ndirangu"
print(student_name)

Mary Ndirangu

In [31]:
# assign the student_name variable  a different string value (a different name)
student_name = "Josphine Kilala"
#print the value of variable student_name
print(student_name)

Josphine Kilala

In [32]:
#assign a 3rd different string value, to the variable name
student_name = "Marion Sakwa"
#print
print(student_name)

Marion Sakwa

In [33]:
#assigning a value to a variable called bucket
bucket = "full"
#printing the value of the variable bucket
print(bucket)

full

In [34]:
#assign an Integer value (no quotes) to the variable bucket
bucket = 123
print(bucket)

123

In [35]:
#print integer 123 number
print(123)

123

In [36]:
#print string "123" number
print("123")

123

In [41]:

type(0.14)

TypeError: 'float' object is not callable

In [1]:
#Datatype 
#type() dispalys the type of literal
type(0.13)

float

In [2]:
type("Collete")

str

In [5]:
type(5)

int

In [6]:
#displays the type of variable
student = "Collete"
type(student)

str

In [7]:
#printing type
print(type(5))

<class 'int'>

In [8]:
#printing decimals the type also changes
print(type(6.8))

<class 'float'>

In [12]:
#printing String variable
student ="123444"
type(student)

str

In [13]:
#printing Interger Variable
student = 123444
type(student)

int

In [14]:
#show the type after assigning bucket = a whole number value such as 16 
bucket = 16
type(bucket)

int

In [16]:
#show  the type after assigning bucket = a word in "double quotes"
bucket = "FULL"
type(bucket)

str

In [17]:
#display the type of 'single quoting' (use single quotes) 
bucket ='FULL'
type(bucket)

str

In [18]:
#display the type of "double quoting" (use double quotes)
bucket = "FULL"
type(bucket)

str

In [21]:
 #Display the type of "12" (use quotes)
    student = "12"
    type(student)

IndentationError: unexpected indent (<ipython-input-21-ff396869a3ad>, line 2)

In [1]:
#Display the type of "12" (use quotes)
student ="12"
type(student)

str

In [3]:
#display the type of 12 (no quotes)
student =12
type(student)

int

In [4]:
#display the type of -12 (no quotes)
student = -12
type(student)

int

In [5]:
#display the type of 12.0 (no quotes)
age =12.0
type(age)

float

In [6]:
#display the type of 1.55
age = "1.55"
type(age)

str