In [1]:
#Addition :numbers and strings
#Math addition:number addition with +
#String Concatination :combining Strings with +

In [3]:
#echo the result of numeric addition
19+49

68

In [5]:
#echo literal String addition
"My name is "+"Gloria"

'My name is Gloria'

In [6]:
#we can also use print function
print(12.3+13.7)

26.0

In [12]:
#we can also use print function to print string concatination
print("Hello"+ " my name is" + " Gloria")

Hello my name is Gloria

In [13]:
#adding a variable function to string
shoe_color = "brown"
"my shoe color is " + "brown"

'my shoe color is brown'

In [14]:
#TASK 5
# [ ] add 3 integer numbers
7+4+8

19

In [15]:
#add a float number and an integer number
5.4+44

49.4

In [16]:
#Add the string "This notebook belongs to " and a string with your first name
"This notebook belongs to "+ "Gloria"

'This notebook belongs to Gloria'

In [18]:
#Create variables sm_number and big_number and assign numbers then add the numbers
sm_number = 33
big_number = 44
sm_number + big_number

77

In [1]:
#Assignment Addition using variables

In [3]:
add_two = 36+22
print(add_two)

58

In [8]:
#Assignment String Assignment
first_name = " Gloria"
greeting = "Happy birthday" + first_name
print(greeting)

Happy birthday Gloria

In [11]:
greeting_today = greeting + ", today is the day"
print(greeting_today)

Happy birthday Gloria, today is the day

In [12]:
add_two = 33+77
add_four = add_two + add_two
print(add_four)

220

In [15]:
#CREATE INTEGER ADDITION AND STRING ADDITION OUTPUT
# [ ] perform string addition in the variable named new_msg (add a string to "my favorite food is ")
new_msg ="My favourite food is" + " Mashed potatoes"
print(new_msg)

My favourite food is Mashed potatoes

In [17]:
#[ ] perform Integer addition in the variable named new_msg (add 2 or more Integers)

new_msg = 56+67+33
print(new_msg)

156

In [24]:
#create and print a new string variable, new_msg_2, that concatenates new_msg + a literal string
new_msg = "Much"
new msg_2 = "My Salary is "+ new_msg
print(new_msg)

SyntaxError: invalid syntax (<ipython-input-24-551cc1dd6b87>, line 3)

In [26]:
#str + int cannot be combined

print("my number is " + "123")

my number is 123

In [6]:
#using variable assignment
#note that we cannot add intergers and string therefore we must convert the intergers to string by adding quotes
my_num = "123"
num_intro ="my number is" + my_num
print(my_num)

123

In [10]:
total_cost = 3 + 45
print(total_cost)

48

In [12]:
# [ ] review and run the code - then fix any Errors
school_num = "123"
print("the street number of Central School is " + school_num)

the street number of Central School is 123

In [13]:
print(type(3.3))

<class 'float'>

In [14]:
print(type(3))

<class 'int'>

In [15]:
print(3.3 + 3)

6.3

In [16]:
#TYPES OF ERRORS 
#Syntax error and Name error
#below is an example of syntax error
#python requires matching quotes for a string
print("I am a string')
      #how to fix such an error add double quotes and shift enter to run the code

SyntaxError: EOL while scanning string literal (<ipython-input-16-9dac771475e0>, line 5)

In [17]:
#example two -variable error 
1_name = "Gloria"


#How to fix such an error: variable name can never start with numbers

SyntaxError: invalid decimal literal (<ipython-input-17-9e41a921c55a>, line 2)

In [20]:
#correcting example above
first_name ="Gloria"
print(first_name)

Gloria

In [21]:
type(3.3(
    #This is a syntax error because one of the parenthis is facing a wrong direction

SyntaxError: unexpected EOF while parsing (<ipython-input-21-c15618d2d443>, line 2)

In [22]:
#NAME ERRORS Means name cannot be found by python
#python print function is all in lowercase,if capitalised its undefined
Print("I woke up at 5.30am")

NameError: name 'Print' is not defined

In [23]:
#correcting the above name error
print("I woke up at 5.30 am")

I woke up at 5.30 am

In [24]:
#name error can also occur if a variable is not define as in the example below

print(day_of_the_week)

NameError: name 'day_of_the_week' is not defined

In [25]:
#correcting the above error we must first define the varibel day_of_the_week
day_of_the_week = "Monday"
print(day_of_the_week)

Monday

In [27]:
#TASK 5
#FIXING ERRORS
# repair the syntax error 
print("my socks do not match")

my socks do not match

In [29]:
# [ ] repair the NameError
#before it was not well panctuated so i corrected
print("Save the notebook frequently")

Save the notebook frequently

In [31]:
# [ ] repair the NameError 
#the error was that the variable name
student_name = "Alton"
print(student_name)

Alton

In [33]:
# [ ] repair the TypeError
total = "3"
print(total + " students are signed up for tutoring")

3 students are signed up for tutoring

In [34]:
score = 3 + "45"

TypeError: unsupported operand type(s) for +: 'int' and 'str'